version: "3.9"
services:
{{#service}}
    peer-{{name}}:
      build: {{build}}
      image: {{image}}
      {{#port}}
      ports:
        - {{number}}:{{number}}
      environment:
        - SERVER_PORT={{number}}
      {{/port}}

{{#has_volume}}
      volumes:
      {{#volume}}
        - {{mount_from}}:{{mount_to}}:ro
      {{/volume}}
{{/has_volume}}

{{/service}}