version: "3.9"
services:
{{#service}}
    peer-{{name}}:
      build: {{build}}
      image: {{image}}
{{#has_port}}
      ports:
      {{#port}}
        - {{host_port}}:{{container_port}}
      {{/port}}
{{/has_port}}
{{#has_environment}}
      environment:
        {{#environment}}
        - {{name}}={{value}}
        {{/environment}}
{{/has_environment}}
{{#has_volume}}
      volumes:
      {{#volume}}
        - {{mount_from}}:{{mount_to}}:ro
      {{/volume}}
{{/has_volume}}

{{/service}}