version: "3.9"
services:
  {{#services}}
    peer-{{name}}:
      build: {{build}}
      image: {{image}}
{{#port}}
      ports:
        - {{port}}:{{port}}
      environment:
        - SERVER_PORT={{port}}
{{/port}}

{{#has_volume_mounts}}
      volumes:
      {{#volume_secrets}}
        - {{mount_from}}:{{mount_to}}:ro
      {{/volume_secrets}}
{{/has_volume_mounts}}

  {{/services}}