{{#pod}}
apiVersion: v1
kind: Pod
metadata:
  name: {{name}}-pod
  labels:
    app: {{name}}
spec:
  containers:
  - name: {{name}}
    image: {{image}}
{{#has_port}}
    ports:
{{#port}}
    - containerPort: {{container_port}}
      name: {{container_port_name}}
{{/port}}
{{/has_port}}
{{#has_environment}}
    env:
{{#environment}}    
    - name: {{name}}
      value: "{{value}}"
{{/environment}}
{{/has_environment}}
{{#has_volume_mount}}
    volumeMounts:
    {{#volume_mount}}
      - name: {{name}}-volume
        mountPath: {{mount_path}}
        readOnly: true
    {{/volume_mount}}
{{/has_volume_mount}}

{{#has_volume}}
  volumes:
    {{#volume}}
    # The secret data is exposed to Containers in the Pod through a Volume.
    - name: {{name}}-volume
      secret:
        secretName: {{name}}
    {{/volume}}
{{/has_volume}}

  imagePullSecrets:
  - name: reg.osmhpi.de
---
{{/pod}}
{{#service}}
apiVersion: v1
kind: Service
metadata:
  name: {{name}}-service
spec:
  selector:
    app: {{name}}
  ports:
{{#port}}
  - port: {{number}}
    targetPort: {{container_port_name}}
  type: LoadBalancer
{{/port}}
---
{{/service}}
