from dataclasses import dataclass
from typing import List

{{#message_imports}}
from {{package}} import {{name}}
{{/message_imports}}

@dataclass
class {{MessageClassName}}():
{{#properties}}
   {{name}} : {{type}}
{{/properties}}
