from cyclonedds.domain import DomainParticipant
from cyclonedds.core import Qos, Policy
from cyclonedds.sub import DataReader
from cyclonedds.pub import DataWriter
from cyclonedds.topic import Topic
import time
import logging

{{message_imports}}

{{proxy_import}}


logging.basicConfig(level=logging.INFO)


dp = DomainParticipant()

{{topics}}
{{data_reader}}
{{data_writer}}


{{apply_funcs}}



{{proxy}}



logging.info('Started')

while True:
    {{read_messages}}
    time.sleep(1)
