from cyclonedds.domain import DomainParticipant
from cyclonedds.core import Qos, Policy
from cyclonedds.sub import DataReader
from cyclonedds.pub import DataWriter
from cyclonedds.topic import Topic
import time
import logging

{{#message_imports}}
from {{package}} import {{name}}
{{/message_imports}}


{{#proxy_import}}
from {{package}} import {{name}}
{{/proxy_import}}


logging.basicConfig(level=logging.INFO)


dp = DomainParticipant()

{{#topics}}
topic{{name}} = Topic(dp, "{{name}}Topic", {{msg_type}}, qos=Qos(Policy.Reliability.Reliable(0)))
{{/topics}}


{{#data_reader}}
dr{{name}} = DataReader(dp, topic{{name}})
{{/data_reader}}

{{#data_writer}}
dw{{name}} = DataWriter(dp, topic{{name}})
{{/data_writer}}


{{#apply_funcs}}
def apply_{{name}}({{data_name}} : {{data_type}}):
    {{! TODO
        message = AudioMessage(caller_id = audio_message.caller_id,audio = audio_message.audio ) 
    }}
    {{msg_name}} : {{msg_type}} = {{data_name}}
    logging.info("Send Message " + str({{msg_name}}))
    dw{{name}}.write({{msg_name}})
{{/apply_funcs}}



proxy = {{proxy_name}}()

{{#proxy_callbacks}}
proxy.set_{{name}}_callback(apply_{{name}})
{{/proxy_callbacks}}


logging.info('Started')

while True:
    {{#read_messages}}
    for {{msg_name}} in dr{{name}}.take(10):
        logging.info("Recv Message " + str({{msg_name}}))
        {{! TODO
            proxy.apply_ZLiCAudio(audio_message = AudioMessage(caller_id = message.caller_id,audio = message.audio))
        }}
        proxy.apply_{{name}}({{data_name}} = {{data_type}}({{msg_name}}))
    {{/read_messages}}
    time.sleep(1)
